/* Colors */
$white: #ffffff;
$shikoku: #0000BA;
    $shikoku_lightest: #e5e5f8;
    $shikoku_lighter: #b2b2ea;
    $shikoku_light: #6666d5;
    $shikoku_dark: #000094;
    $shikoku_darker: #00006f;
    $shikoku_darkest: #000037;
$olive: #748034;
    $olive_lightest: #e3ebd8;
    $olive_lighter: #b9cd9e;
    $olive_light: #8faf63;
    $olive_dark: #5c6629;
    $olive_darker: #454c1f;
    $olive_darkest: #22260f;
$udon: #FCF7E8;
    $udon_lightest: #fdfbf5;
    $udon_light: #fcf9ee;
    $udon_dark: #e2ded0;
    $udon_darker: #b0aca2;
    $udon_darkest: #5c5c51;
$birch: #353629;
    $birch_lightest: #eaeae9;
    $birch_lighter: #aeaea9;
    $birch_light: #5d5e53;
    $birch_dark: #151510;
$keppel: #369AA1;
    $keppel_lightest: #eaf4f5;
    $keppel_lighter: #aed6d9;
    $keppel_light: #72b8bd;
    $keppel_dark: #2b7b80;
    $keppel_darker: #205c60;
    $keppel_darkest: #153d40;
$hibiscus: #F06060;
    $hibiscus_lightest: #fdefef;
    $hibiscus_lighter: #f7afaf;
    $hibiscus_light: #f37f7f;
    $hibiscus_dark: #c04c4c;
    $hibiscus_darker: #783030;
    $hibiscus_darkest: #481C1C;

/* Font Adjustments */
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 200;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 300;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Medium");
    font-weight: 400;
}
@font-face {
    font-family: "Yu Gothic";
    src: local("Yu Gothic Bold");
    font-weight: bold;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 100;
}
@font-face {
    font-family: "Helvetica Neue";
    src: local("Helvetica Neue Regular");
    font-weight: 200;
}

/* Font Variables */
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: $birch;
$font-size: 16px;
$line-height: 1.5;
$font-sans-serif: MyYuGothicM, "Yu Gothic", YuGothic, -apple-system, BlinkMacSystemFont, "Helvetica Neue",Verdana, Meiryo, sans-serif;
$font-serif: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
$font-ie: Verdana, Meiryo, sans-serif;
$font-numeric:  "-apple-system", "Helvetica Neue", Verdana, sans-serif;


$border-radius: 4px;

/* Responsive */
$breakpoints: (
    'sm': 'screen and (min-width: 560px)',
    'md': 'screen and (min-width: 880px)',
    'lg': 'screen and (min-width: 1100px)'
);
@mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}