/*
INDEX

A. HTML Foundation
B. Basic Typography
C. Text Modifier
D. Global Components
E. Layout System
F. Components
G. Parts
H. Display None
I. Adjustments
J. Print Specific

Property Order
1. Box
        display
        flex
        position
        top
        right
        bottom
        left
        height
        width
        margin
        padding
        opacity
        overflow
        visibility
        z-index
2. Border
3. Background
4. Font/Text
        alphabetically
5. List
6. Transform
7. Transition
8. Other
*/
@media print {

/* A. HTML Foundation */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  max-width: 100%;
  background-color: #fff !important;
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
}
a:link, a:visited, a {
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
  page-break-inside:avoid;
  /*
  &[href^=http]:after{
    content: attr(href);
  }
  */
}
img{
  border-style: none;
}

/* B. Basic Typography */
h2{
    color: #000 !important;
}
p, address, li, dt, dd, blockquote {
  font-size: 100%
}
ul, ol {
  list-style: square; margin-left: 18pt;
  margin-bottom: 20pt;    
}
li {
  line-height: 1.6em;
}   

/* H. Display None */

#modal_window, 
.global-bar,
#modal_open, 
.shop-label, 
.shop-btn,  
.updated, 
.crown, 
.mykagawa, 
.related-shops, 
.related-news, 
.social-twitter, 
.social-facebook, 
.social-line{
  display: none !important;
}

/* I. Adjustments */
iframe, ins {
    display: none;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    line-height: 0pt !important;
    white-space: nowrap;
}

.shop-header{
    position: relative !important;
    padding: 0 !important;
    background: transparent !important; 
}
.shop-cover{
    position: relative;
    margin: 0 0 2rem 0;
    height: auto;
    min-height: 256px;
    overflow: hidden;
    img{
        position: relative !important;
        top: 0  !important;
        left: 0  !important;
        transform: none  !important;
    }
  }
.shop-name{
    color: #000 !important;
}

.countdown-list{
  list-style: decimal !important;
  li{
    margin: 0 !important;
    padding: 0 !important;
    &:before{
      display: none !important;
    }
  }
}

a.tel{
  padding: 0 !important;
  border: none !important;
  background: transparent  !important;
  color: #000  !important;
  text-align: left !important;
  svg{
    display: none !important;
  }
}

.toggle {
  padding: 0 0 1rem 0 !important;
  border: none !important;
  color: #000 !important;
  &:after{
    display: none !important;
  }
}
.toggle-panel{
  display: block !important;
  border: none !important;
}
.data-table {
  tr:nth-child(2n){
    background: transparent !important;
  }
  th, td{
    display: table-cell !important;
    padding: 0 !important;
  }
}


footer{
    padding: 0  !important;
    background: transparent !important;
    p{
        color: #000  !important;
    }
}

/* J. Print Specific */
@page { margin: 2cm }

}
